.submission-form {
  display: flex;
  flex-direction: column;
  min-width: 400px;
  padding-top: 16px;

  .detail-item {
      display: flex;
      flex-direction: column;
      margin-bottom: 16px;

      .label {
        font-size: 12px;
        color: var(--mat-sys-on-surface-variant);
        margin-bottom: 4px;
      }

      .value {
        font-size: 16px;
        color: var(--mat-sys-on-surface);
      }
    }
  mat-form-field {
    width: 100%;
    margin-bottom: 8px;
  }

  .cpc-container {
    display: flex;
    flex-direction: column;
    gap: 8px;

    mat-checkbox {
      margin-bottom: 4px;
    }
  }
}
